          
          <div class="publications mt-3 p-0">
            <h3 class="title mb-4 p-0">Awards</h3>

              <div class="row p-0">
                <div class="col-sm-2 p-0">
                  <span class="badge primary-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
                    Master</span>
                </div>
                <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
                  <b>First Class</b> Academic Scholarship for
                  <b>THREE</b>
                  consecutive years (2018-2021)
                </div>

                <div class="col-sm-2 p-0">
                    <span class="badge primary-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
                      Bachelor</span>
                </div>
                <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
                  <b>National Scholarship</b>
                  (2016-2017)
                </div>

                <div class="col-sm-2 p-0">
                    <span class="badge primary-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
                      Bachelor</span>
                </div>
                <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
                  <b>Excellent Student</b>
                  in Science and Engineering (2015-2016)
                </div>

                <div class="col-sm-2 p-0">
                    <span class="badge primary-color-dark darken-1 font-weight-bold text-uppercase align-middle date ml-3">
                      Bachelor</span>
                </div>
                <div class="col-sm-10 mt-2 mt-sm-0 ml-3 ml-md-0 p-0 font-weight-light text">
                  <b>First Class Scholarship</b>
                  of the University (2015-2016)
                </div>

            </div>


          </div>
